@import "../variables.scss"; 

.main{
    width: 1150px;
    display: flex;
    margin: auto;
    justify-content: space-between;

    &__profile
    {
        position: relative;
    }

    &__profile_info
    {
        width: 800px;
        height: 250px;
        display: flex;
        background-color: #ffffff;
        box-shadow: $box__shadow;
        position: absolute;
        top: -80px;
    }

    &__posts
    {
        margin-top: 200px;
        width: 800px;
        min-height: 400px;
        height: auto;
        background-color: #ffffff;
        box-shadow: $box__shadow; 
        margin-bottom: 25px;
        padding-bottom: 30px;
    }

    &__new-post 
    {
        min-height: 100px;
        width: 700px;
        margin: auto;

        input {
            width: 400px;
            height: 50px;
            margin: 30px 20px;
            border: 1px solid $main__color;
        }

        button {
            padding: 18px;
            border: 1px solid $main__color;

            &:hover {
                background-color: $main__color;
                color: #ffffff;
            }
        }  
    }


    &__avatar
    {
        margin: 35px 0 0 35px;

        img 
        {
            width: 150px;
        }
    }

    &__info
    {
        margin: 35px 0 0 40px;
    }

    &__name
    {
        font-size: 30px;
    }

    &__company_list
    {
        display: flex;
        margin-top: 20px;
    }

    &__company
    {
        margin-left: 10px;
    }

    &__post
    { 
        width: 700px;
        margin: auto;
        margin-top: 30px;
        min-height: 100px;
        box-shadow: $box__shadow__sup; 
        display: flex;
        
        img {
            width: 80px;
            margin: 10px 20px;
        }

        &__text
        {
            margin-top: 10px;
        }

        &__caption
        {
            font-size: 20px;
            font-weight: bold;
        }
    }
    
    &__news
    {
        position: relative;
        

        #hot__news
        {
            display: flex;
            position: absolute;
            top: -80px;
            background-color: #fff;
            margin-top: 0;
            box-shadow: $box__shadow;
            img
            {
                height: 150px;
                width: 150px;
                margin: 15px 20px 0 20px; 
            }
            h1
            {
                margin-top: 20px;
            }
            a
            {
                text-decoration: none;
                color: #000; 
            }
           
        }

        &__last
        {
            width: 800px;
            min-height: 200px;
            margin-top: 150px;

            &__new
            {
                display: flex;
                background: #fff;
                box-shadow: $box__shadow;
                margin-top: 30px;
                min-height: 150px;
                img 
                {
                    width: 120px;
                    height: 120px;
                    margin: 15px 20px 0 20px; 
                }
                h1
                {
                    margin-top: 20px;
                }
                a
                {
                    text-decoration: none;
                    color: #000; 
                }
            }
        }
    }
}

.buttons-link
{
    margin-top: 80px;

    button {
        font-family: "Hind", sans-serif;
        padding: 5px 10px;
        border: 1px solid $main__color;

        &:hover{
            background-color: $main__color;
            color: #ffffff;
        }

    }

    &__second
    {
        margin-left: 10px;
    }
}

aside
{
    min-width: 300px;

    .companys
    {
        width: 300px;
        min-height: 300px;
        background-color: #fff;
        box-shadow: $box__shadow__sup; 

        h1 {
            font-size: 20px;
            margin-left: 20px;
            margin-top: 20px;
            padding-top: 10px;
        }

        &__descr
        {
            display: flex;
            margin: auto;
            height: 50px;
            padding-left: 10px;
            padding-top: 10px;

            img
            {
                width: 60px;
                border: 0.5px solid $main__color;
            }

            a {
                text-decoration: none;
                color: #000;
                margin-left: 10px;
            }

            &__text
            {
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }
}
.messages
{
    position: relative;
    width: 1150px;

    &__wrapper
    {
       
        position: absolute;
        top: -80px;
        display: flex;
        justify-content: space-around;
    }

    &__dialogs
    {
        padding-top: 10px;
        width: 350px;
        background-color: #fff;
        margin-top: 0;
        box-shadow: $box__shadow;
        height: 700px;
        overflow: auto;
        img 
        {
            width: 65px;
        }
    }
    &__dialog
    {
        margin: 0 0 20px 20px;
        display: flex;
        p 
        {
            margin-left: 20px;
            margin-top: 20px;
        }
    }
    &__messages
    {
        width: 450px;
        background-color: #fff;
        margin-top: 0;
        box-shadow: $box__shadow;
        margin-left: 25px;
        &__input
        {
            display: flex;
            position: absolute;
            bottom: 0px;  
            input {
                width: 250px;
                height: 25px;
                margin: 0 10px 20px 20px;
                border: 1px solid $main__color;
            }
    
            button {
                margin: 0 10px 20px 0;
                border: 1px solid $main__color;
    
                &:hover {
                    background-color: $main__color;
                    color: #ffffff;
                }
            }  
        }
    }
    &__message
    {
        &__author
        {
            margin: 15px 0 10px 20px;
        }
        &__text
        {
            margin-left: 20px;
        }
    }
}